<div class="_1b8g2vNy8lbWpeEoPhuilt">
    <a class="_1b0h1A6_0gxFCBZUq8kIJQ _3yIC0eXju6szvavCXELyx_" href="{{ path('petitions_show',{'id': petition.id}) }}">
        <div class="_3CVldilktz-B3hkDsqmC5g _2XTpLxQ_BEDP_bfDleibdz b-lazy b-loaded"
             style="background-image: url('{{ asset ('uploads/images/') }}{{ petition.img }}');">

        </div>
        <div class="SBmW151_565cgzHn8z1Ax">
            <header class="Ca2JSCpfFqhh1T4Hffhm2 _1FQPPz2fLH-q78suip2SZs"><span></span>
                <h2 class="h2-petitions">{{ petition.title }}</h2>
            </header>
            <div>
                  <span class="_1LsrXvoa33XUsfMoP4iV7T">
                    Jusqu'au {{ petition.deadline|date('d.m.y') }}</span>
            </div>

            <div class="_29uQZrC2axie4abnqpZMvX">
                <div class="_2KApe8F2RB8hfyUg6KS0sX">
                    <span style="width: {{ (0 / petition.goal)*100 }}%;"></span>
                </div>
                <span class="_2DTXEo_6pKh0s-iQnMw9LU">
					  {% set foo = 0 %}
                    {% for signature in signatures if petition.id == signature.petitions.id %} {% set foo = foo + 1 %}{% endfor %}
                    <b>{{ foo }}</b> signatures<!-- /react-text --><!-- react-text: 1167 -->. Aidez-nous à atteindre
                    <!-- /react-text --><!-- react-text: 1168 -->{{ petition.goal }} signatures<!-- /react-text -->
                      </span>
            </div>
            <div class="Qllboe3AT8Lv3crKyVjEA _2VDlfcXJJNiquV4f8LGH9V">
                <button class="_3_Ozh1xIkutWoTIuxPhs4N _32BYWcEldpr1UfdAZiv-af">
                    <div class="_26ce-c8xESGZkYG6kWpQDS">
                      <span class="isvg loaded">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             preserveAspectRatio="xMidYMid" width="20" height="19.97" viewBox="0 0 20 19.97">
  <defs>
    <style>
      .cls-1 {
          fill: #000;
          fill-rule: evenodd;
      }
    </style>
  </defs>
  <path d="M6.691,0.131 L0.137,6.674 C-0.061,6.872 -0.061,7.216 0.137,7.414 L2.490,9.762 C2.694,9.965 3.026,9.965 3.231,9.762 L3.745,9.249 C5.096,10.921 6.425,13.060 6.425,14.032 C6.425,14.187 6.389,14.302 6.320,14.371 C6.194,14.497 6.137,14.703 6.177,14.874 C6.263,15.244 6.298,15.396 12.933,17.736 C16.079,18.845 19.265,19.924 19.292,19.933 C19.480,19.997 19.691,19.948 19.845,19.793 C19.944,19.694 19.999,19.563 19.999,19.424 C19.999,19.366 19.990,19.310 19.961,19.227 C19.695,18.444 18.749,15.675 17.770,12.907 C15.428,6.283 15.274,6.247 14.904,6.161 C14.727,6.119 14.529,6.175 14.401,6.304 C13.876,6.828 11.357,5.413 9.269,3.733 L9.783,3.220 C9.981,3.022 9.981,2.678 9.783,2.480 L7.431,0.132 C7.226,-0.072 6.895,-0.072 6.691,0.131 ZM14.586,7.370 C15.206,8.761 16.880,13.480 18.252,17.466 L13.151,12.384 C13.288,12.126 13.360,11.839 13.360,11.544 C13.360,11.067 13.174,10.618 12.837,10.282 C12.138,9.585 11.002,9.585 10.304,10.282 C9.966,10.619 9.780,11.068 9.780,11.546 C9.780,12.024 9.966,12.473 10.304,12.811 C10.858,13.364 11.724,13.487 12.409,13.124 L17.499,18.217 C13.502,16.845 8.773,15.172 7.388,14.557 C7.434,14.402 7.457,14.232 7.457,14.048 C7.457,12.364 5.491,9.737 4.541,8.567 L8.587,4.528 C9.951,5.634 12.959,7.851 14.586,7.370 Z"
        class="cls-1"></path>
</svg>
</span><span>Signer la pétition</span>
                    </div>
                </button>
            </div>
        </div>
    </a>
</div>
